
.container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin-top: 150px;
}

.top-container, .bottom-container {
    display: flex; 
    justify-content: center;
}

.card{
    position: relative;
    width: 320px;
    height: 360px;
    border-radius: 20px;
    margin-left: 100px;
    margin-top: 100px;
    overflow: hidden;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.card::before{
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%,-50%);
    background: radial-gradient(var(--clr), transparent, transparent);
    width: 300px;
    height: 300px;
    opacity: 0;
    transition: 0.3s, top 0s, left 0s;
}

.card:hover::before{
    opacity: 1;
}

.card::after{
    content: '';
    position: absolute;
    inset: 3px;
    border-radius: 18px;
    background: rgba(45,45,45,0.01);
}

.card a{
    display: flex;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    color: #252525;
    margin-top: 30px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    z-index: 20;
}

.card a:hover{
    font-weight: bold;
}

.inner-border{
    display: flex;
    margin-top: 10px;
    margin-left: 5%;
    width: 90%;
    height: 1px;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    border-radius: 50px;
}

.billing-info{
    position: relative;
    width: 100%;
    background-color: transparent;
    margin-left: 20px;
}

.billing-info h4{
    position: relative;
    display: flex;
    background-color: transparent;
    margin-top: 40px;
    font-size: 16px;
}